
<section class="section atmos">
   <VideoLoop  title="Dive into sound reimagined with Dolby Atmos" subtitle="Revealing depth, clarity, and details like never before, Dolby Atmos is a sound experience you can feel all around you." />
</section>

<div class="hidden-ctx">
   <div class="gls"></div>
</div>

<section class="section why-ats">
   <Side notice="Dolby Innovations" headline="What is Dolby Atmos?" content="Dolby Atmos has reinvented how entertainment is created and experienced, allowing creatives everywhere to place each sound exactly where they want it to go, for a more realistic and immersive audio experience." secondContent="Whether you’re gaming, watching your favorite movie or show, or listening to that new track on repeat, Dolby Atmos transports you into a spatial sound experience that draws you in deeper, so you hear more and feel more. "/>
</section>

@code {

}