@inherits LayoutComponentBase

<div class="Dolby-page">
    @* <NavMenu /> *@
 
    <main class="hero-section">
        @Body
    </main>

    
    <span class="notice law-content">
      <p>Dolby and the double-D symbol are registered trademarks of Dolby Laboratories Licensing Corporation. All other trademarks remain the property of their respective owners. © 2024 Dolby Laboratories, Inc. All rights reserved.</p>
      <p>***This is just a clone of The Dolby web site, we are not affiate with Dolby Laboratories.</p>
    </span>
</div>

@code {
}