.atmos[b-te8nn0ejk0] {
	position: absolute;
	top: 0;
}
.gls[b-te8nn0ejk0] {
    display: block;
    width: 100%;
    height: 90vh;
}
.why-atmos[b-te8nn0ejk0] {
    position: relative;
	height: 50vh;
}
.slides[b-te8nn0ejk0] {
	width: 95%;
}