.hero-section[b-i9p7955p5x] {
	width: 100%;
}
.Dolby-page[b-i9p7955p5x],
.mouse-event[b-i9p7955p5x] {
	display: block;
}
.mouse-dolby-change[b-i9p7955p5x] {
	position: fixed;
	top: 0px;
	height: 30px;
    width: 30px;
    border-radius: 50%;
	background: color(display-p3 0.26 0.01 0.57);
    transition: all 290ms cubic-bezier(0.32, 0.06, 1, 0.98);
	z-index: 750;
}
.law-content[b-i9p7955p5x]{
	margin-top: 4rem;
}